In [1]:
import pandas_datareader.wb as wb

In [3]:
wb.search(string='SE.PRM.TENR', field='id')

,id,name,source,sourceNote,sourceOrganization,topics
8973,SE.PRM.TENR,"Adjusted net enrollment rate, primary (% of pr...",World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education
8974,SE.PRM.TENR.FE,"Adjusted net enrollment rate, primary, female ...",World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education ; Gender
8975,SE.PRM.TENR.MA,"Adjusted net enrollment rate, primary, male (%...",World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education ; Gender

In [5]:
wb.search(string='SE.PRM.TENR', field='id').iloc[:,2:]

,source,sourceNote,sourceOrganization,topics
8973,World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education
8974,World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education ; Gender
8975,World Development Indicators,Adjusted net enrollment is the number of pupil...,"United Nations Educational, Scientific, and Cu...",Education ; Gender

In [7]:
wb.search(string='SE.PRM.TENR', field='id').iloc[:,:2]

                  id                                               name
8973     SE.PRM.TENR  Adjusted net enrollment rate, primary (% of pr...
8974  SE.PRM.TENR.FE  Adjusted net enrollment rate, primary, female ...
8975  SE.PRM.TENR.MA  Adjusted net enrollment rate, primary, male (%...

In [9]:
wb.search(string='SE.PRM.TENR', field='id').iloc[0,1]

u'Adjusted net enrollment rate, primary (% of primary school age children)'

In [11]:
wb.search(string='SE.PRM.TENR', field='id').iloc[1,1]

u'Adjusted net enrollment rate, primary, female (% of primary school age children)'

In [12]:
wb.search(string='SE.PRM.TENR', field='id').iloc[2
                                                ,1]

u'Adjusted net enrollment rate, primary, male (% of primary school age children)'